<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Update Form</h1>
        <form action="/update/<%=usr._id%>" method="post">
            <input type="text" placeholder="enter your name" name="updatename" value="<%= usr.name %>">
            <input type="text" placeholder="enter your email" name="updateemail" value="<%= usr.email %>">
            <input type="text" placeholder="enter your imageUrl" name="updateimage" value="<%= usr.image %>">
            <button value="createAccount">update Account</button>
        </form>
        <div class="anchor">
            <a href="/">Go back</a>
        </div>
    </div>
    <script src="/javascript/script.js"></script>
</body>

</html>
