<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>

</head>

<body>
    <div class="container">
        <h1>Signup Form</h1>
        <form action="/create" method="post">
            <input type="text" placeholder="enter your name" name="name" value="">
            <input type="text" placeholder="enter your email" name="email">
            <input type="text" placeholder="enter your imageUrl" name="image">
            <button value="createAccount">Create Account</button>
        </form>
        
        <div class="anchor">
            <a href="/read">Go To Read</a>
            <!-- <a href="/edit">Edit User</a> -->
        </div>
    </div>




    <script src="/javascript/script.js"></script>
</body>

</html>